<!-- ******CHALLENGES****** -->
<section id="challenges" class="story section has-pattern">
    <div class="container">
        <div class="row">
            <div class="content col-md-12 col-sm-12 col-xs-12">
                <h2 class="title">Topcoder Challenges & Leaders</h2>
                <p>Topcoder is the world’s largest platform for digital open innovation. We provide the platform and community of over 850,000 global members to accelerate the development of new digital products and services for our clients.</p>
                {{#if challenges}}
                  <table class="table">
                  <tr>
                      <th>Challenge</th>
                      <th>Deadline</th>
                      <th nowrap>Total Prizes</th>
                  </tr>
                  {{#each challenges}}
                  <tr>
                      <td><a href="http://www.topcoder.com/challenge-details/{{_source.challengeId}}?type={{_type}}" class="white-link" style="text-decoration:underline" target="_blank">{{_source.challengeName}}</a>
                        <span class="small">
                        {{#if _source.technologies}}<br/>Technologies: {{arrayToList _source.technologies}}{{/if}}
                        {{#if _source.platforms}}<br/>Platforms: {{arrayToList _source.platforms}}{{/if}}
                        <br/>Registrants: {{_source.numRegistrants}} &nbsp;&nbsp;&nbsp;Submissions: {{_source.numSubmissions}}
                        </span>
                      </td>
                      <td>{{dateFormatUTC _source.submissionEndDate}} UTC</td>
                      <td>${{_source.totalPrize}}</td>
                  </tr>
                  {{/each}}
                  </table>
                {{else}}
                  <h1>Challenges will be starting shortly! Check back for your chance to compete, learn and win!</h1>
                {{/if}}
            </div><!--//challenges-->

        </div><!--//row-->
    </div><!--//container-->
</section><!--//story-->
